@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
  width: 100%;
  background-color: #f5f6fa;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.book {
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 10.625rem;
  margin: 0.313rem 4.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.book:hover {
  background-color: #e8e8e8;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 53%;
}

.book-genre {
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  height: 1.813rem;
  margin: 0.188rem 5.188rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-author {
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.progress {
  display: flex;
  flex-direction: row;
  width: 17%;
}

.book-progress-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.percentage {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.percentage-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.completed {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-progress {
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-progress-title {
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-chapter {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.book-current-chapter {
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.book-update {
  width: 13.5vw;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 7px;
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.913vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: #fff;
  height: 3.38rem;
  top: 0;
  margin-top: 30px;
}

.footer > p {
  color: #0290ff;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 300;
  font-family: RobotoSlab, sans-serif;
}

.add-book {
  margin: 10px 5px 20px 0;
  height: 100px;
}

.add-book:hover {
  background: #e8e8e8;
}

.add-book-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  background: #fff;
}

.add-book-title {
  color: #121212;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 7vw;
}

.title {
  width: 29rem;
  height: 2.813rem;
  margin: 1.188rem 1.125rem 0 0;
  padding: 0.813rem 0.813rem 0.813rem 0.813rem;
  border-radius: 4px;
  border: solid 1px #3066be;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.author {
  width: 27rem;
  height: 2.813rem;
  margin: 1.188rem 1.125rem 0 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  border: solid 1px #3066be;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.submit {
  width: 10.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 0.5rem;
  border-radius: 10px;
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  color: #fff;
  border: none;
}

.book-buttons {
  padding-right: 5px;
}

.comment,
.remove,
.edit {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border: none;
  color: #4386bf;
  background: #fff;
}

.comment:hover,
.remove:hover,
.edit:hover {
  background: #e8e8e8;
}

.error {
  display: none;
  color: red;
  font-size: 1rem;
  font-weight: 400;
  font-family: RobotoSlab, sans-serif;
  margin-top: 10px;
  text-align: center;
}

.show {
  display: block;
}

@media screen and (max-width: 768px) {
  body {
    width: 350px;
  }

  .books-container {
    width: 350px;
    justify-content: center;
    align-items: center;
  }

  .book {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .book-title {
    width: max-content;
    height: 1.813rem;
    margin: 0.188rem 0.188rem 0 0;
    font-family: RobotoSlab, serif;
    font-size: 1.375rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #121212;
  }

  .book-author {
    height: 1.188rem;
    margin: 0.25rem 0 0;
    font-family: RobotoSlab, sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4386bf;
  }

  .book-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .progress {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 4rem;
  }

  .book-progress {
    margin: 0.063rem 0.75rem 0 0.188rem;
    font-family: Montserrat, sans-serif;
    font-size: -0.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
  }


  .book-progress-info {
    display: flex;
    flex-direction: column;
    
  }

  .book-update {
    width: fit-content;
    font-size: 0.5rem;
  }

  .add-book {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .add-book-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background: #fff;
  }

}
